{% extends 'leave/base.html' %}
{% load static %}
{% block content %}

<!-- About Section start -->
<div class="about-area section-padding bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-xs-12 info">
        <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
          <div>
            <div class="site-heading">

              <h2 class="section-title">Outpass Portal</h2>
              <p class="para">The outpass portal is a project designed to simplify and speed up the process of seeking
                an outpass for leave.It aims to eliminate unneccesary paperwork by making the process of creating
                requests digital.The caretakers can then approve the outpass at the click of a button.</p>
              <p class="para">Along with solving the problem of outpasses, this portal will also include a forum for
                discussions regarding various issues, problems and suggestions for the hostel and the mess facilities.</p>
            </div>
            <div class="content">
              <h3 class="mb-3"><strong> How does it work?</strong></h3>
              <ul style="font-size:0.75em;">
                <li>Signup and then login to create a new request.</li>
                <li>Fill in the required form details.</li>
                <li>An email with the same details will be sent to your parent's email id informing them about your
                  leave application.</li>
                <li>The admin can then view and approve your request.</li>
                <li>You will receive an email notification on approval.[IN PROGRESS]</li>
                <li>A forum for discussions regarding hostel and mess issues [TO BE IMPLEMENTED].</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
        <img class="img-fluid mt-5" src="{% static 'img/img-1.png' %}" alt="">
      </div>
    </div>
  </div>
</div>
<!-- About Section End -->




{% endblock %}