{% extends 'leave/base.html' %}

{% block content %}
<h1 class="head"><u><b>Outpass Portal</b></u></h1>
<p class="para">The outpass portal is a project designed to simplify and speed up the process of seeking an outpass for leave.It aims to eliminate unneccesary paperwork by making the process of creating requests digital.The caretakers can then approve the outpass at the click of a button.</p>
<p class="para">Along with solving the problem of outpasses, this portal will also include a forum for discussions regarding various issues, problems and suggestions for the hostel and the mess facilities.
<br>
<br>
<h2 class="head1">How does it work?</h2>
<ol class="para">
 <li>Signup and then login to create a new request.</li>
  <li>Fill in the required form details.</li>
  <li>An email with the same details will be sent to your parent's email id informing them about your leave application.</li>
  <li>The admin can then view and approve your request.</li>
  <li>You will receive an email notification on approval.[IN PROGRESS]</li>
  <li>A forum for discussions regarding hostel and mess issues [TO BE IMPLEMENTED].</li>
</ol>  



{% endblock %}
