body{
	background-image: url("back.jpg");
	background-size:cover;
	font-size: 1.4rem;
    }
.head{
	font-family:lucida console;
	font-size:40px;
	color: white;
    }
.head1{
	font-family:lucida console;
	color:white;
    }
.para{
	font-size:18px;
    font-family:arial;
    }
