body{
	background-image: url("back.jpg");
	background-size:cover;
	font-size: 1.4rem;
    }
.head{
	font-family:lucida console;
	font-size:40px;
	color: white;
    }
.head1{
	font-family:lucida console;
	color:white;
    }
.para{
	font-size:18px;
    font-family:arial;
    }


/* ==========================================================================
3. Hero Area
========================================================================== */
#hero-area {
  background-image: url(../img/hero-area.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 20px !important;
  /* padding: 180px 0 80px; */
}

#hero-area .contents{
  margin-left: 20px;
  margin-top: 25px;
}

#hero-area .contents .head-title {
  color: #222222;
  font-size: 42px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 10px;
 
}
